<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable mode="md" (ionChange)="cambioCategoria($event)">
    <ion-segment-button mode="md"
                      [value]="categoria"
                      *ngFor="let categoria of categorias">
      <ion-label text-capitalize>{{categoria}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <app-noticias [noticias]="noticias">
  </app-noticias>

  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
